.venv/
**/__pycache__/
**/*.egg-info/
.ruff_cache/
.ipynb_checkpoints/
__pycache__/
.pytest_cache/


/data/
res/
test/

.agents/
.vscode/
.idea/
.cursor
.omc/

.ruff_cache/
ruff.toml

*.log

tmp/

.DS_Store

csv/
