.venv/
**/__pycache__/
**/*.egg-info/
.ruff_cache/
.ipynb_checkpoints/
__pycache__/
.pytest_cache/


/data/
/dataset
res/
test/
/bak

.agents/
.vscode/
.idea/
.cursor
.omc/

.ruff_cache/
ruff.toml

*.log
*.zip
*.rar
*.tar.gz

/tmp*

.DS_Store

/csv/
/csv*/
/output/
/perfseer/
/archive/

/.env